<% visible_flashes = flash.to_hash.slice("notice", "alert") %>
<% if visible_flashes.any? %>
  <div class="flash-stack">
    <% visible_flashes.each do |type, message| %>
      <div class="flash-toast <%= type == "notice" ? "flash-toast--notice" : "flash-toast--alert" %> animate-slide-up">
        <p class="text-sm font-medium"><%= message %></p>
      </div>
    <% end %>
  </div>
<% end %>
